{% set title = "Portfolio" %}

{% extends "main.tpl" %}

{% block content %}

<div class="container-wrapper">

    <div class="menu-toggler" id="js-menu-toggler">
		<img src="../../images/icons/bookmark.svg" alt="">
	</div>

    <div class="container">
        <div class="left-wrapper">
            <div class="avatar">
                <div class="avatar-inner">
                    <img src="../../images/khumoyun.png" alt="">
                </div>
            </div>

            <div class="sider-block">
                <div class="sider-header">
                    <div class="sider-title">
                        <h3>CONTACT</h3>
                    </div>
                    <div class="sider-spacer"></div>
                </div>

                <div class="sider-content sider-contact">
                    <div class="contact-item contact-phone">
                        <a href="tel:+998977731218">+998977731218</a>
                    </div>
                    <div class="contact-item contact-email">
                        <a href="mailto:khumoyun@inoyatov.com">khumoyun@inoyatov.com</a>
                    </div>
                    <div class="contact-item contact-web">
                        <a href="http://inoyatov.me" target="_blank">www.inoyatov.me</a>
                    </div>
                    <div class="contact-item contact-location">
                        <span>1-5, A.Temur-O.Zokirov st, Tashkent, Uzbekistan </span>
                    </div>
                </div>
            </div>

            <div class="sider-block">
                <div class="sider-header">
                    <div class="sider-title">
                        <h3>PERSONAL</h3>
                    </div>
                    <div class="sider-spacer"></div>
                </div>

                <div class="sider-content sider-personal">
                    <div class="personal-item">
                        <span class="bolder">Birthday</span>
                        <span class="lighter">:11 December 1997</span>
                    </div>
                    <div class="personal-item">
                        <span class="bolder">Relationship</span>
                        <span class="lighter">:Single</span>
                    </div>
                    <div class="personal-item">
                        <span class="bolder">Nationality</span>
                        <span class="lighter">:Uzbek</span>
                    </div>
                    <div class="personal-item">
                        <span class="bolder">Languages</span>
                        <span class="lighter">:English, Russian</span>
                    </div>
                </div>
            </div>

            <div class="sider-block">
                <div class="sider-header">
                    <div class="sider-title">
                        <h3>interests</h3>
                    </div>
                    <div class="sider-spacer"></div>
                </div>

                <div class="sider-content sider-interests">
                    <div class="interests-item">
                        <span>Graphic Design</span>
                    </div>
                    <div class="interests-item">
                        <span>Web Design</span>
                    </div>
                    <div class="interests-item">
                        <span>Web Programming</span>
                    </div>
                    <div class="interests-item">
                        <span>Psychology</span>
                    </div>
                </div>
            </div>

            <div class="sider-block">
                <div class="sider-header">
                    <div class="sider-title">
                        <h3>Connect</h3>
                    </div>
                    <div class="sider-spacer"></div>
                </div>

                <div class="sider-content sider-connect">
                    <div class="connect-item connect-github">
                        <a href="https://github.com/ikhumoyun">github.com/<span>ikhumoyun</span></a>
                    </div>

                    <div class="connect-item connect-linkedin">
                        <a href="https://linkedin.com/in/ikhumoyun">linkedin.com/in/<span>ikhumoyun</span></a>
                    </div>

                    <div class="connect-item connect-twitter">
                        <a href="https://twitter.com/ikhumoyun">twitter.com/<span>ikhumoyun</span></a>
                    </div>

                    <div class="connect-item connect-facebook">
                        <a href="https://facebook.com/ikhumoyun">facebook.com/<span>ikhumoyun</span></a>
                    </div>

                    <div class="connect-item connect-instagram">
                        <a href="https://instagram.com/ikhumoyun">instagram.com/<span>ikhumoyun</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="big-name-block">
                <h1 class="name">Khumoyun<br>Inoyatov</h1>
                <h3 class="position">Graphic Designer & Web Developer</h3>
            </div>

            <div class="portfolio-list">
                <div class="section-header">
                    <h2 class="section-title">Portfolio</h2>
                    <div class="title-spacer">
                        <span class="title-italic">Portfolio</span>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="img-holder">
                        <img src="../../images/portfolio.png" alt="">
                    </div>
                    <h2 class="portfolio-title">News portal KUN.UZ</h2>
                    <span class="short-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </span>
                </div>

                <div class="portfolio-item">
                    <div class="img-holder">
                        <img src="../../images/portfolio.png" alt="">
                    </div>
                    <h2 class="portfolio-title">News portal KUN.UZ</h2>
                    <span class="short-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </span>
                </div>

                <div class="portfolio-item">
                    <div class="img-holder">
                        <img src="../../images/portfolio.png" alt="">
                    </div>
                    <h2 class="portfolio-title">News portal KUN.UZ</h2>
                    <span class="short-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </span>
                </div>

                <div class="portfolio-item">
                    <div class="img-holder">
                        <img src="../../images/portfolio.png" alt="">
                    </div>
                    <h2 class="portfolio-title">News portal KUN.UZ</h2>
                    <span class="short-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}